
<div class="shift-container">
  <!-- Start Shift -->
  <div class="shift-block">
    <button type="button" (click)="startShift()" [disabled]="shiftStarted">Start Shift</button>
    @if (currentShift?.startTime) {
        <p>Started at: {{ currentShift?.startTime }}</p>
    }
  </div>

  <!-- End Shift -->
  <div class="shift-block">
    <button type="button" (click)="stopShift()" [disabled]="!shiftStarted">End Shift</button>
    @if (currentShift?.endTime) {
        <p>Ended at: {{ currentShift?.endTime }}</p>
    }
  </div>
</div>

